DB_TNS=localhost/XE
DB_USER=portail_user
DB_PASSWORD=change_moi

OBI_MODE=demo
OBI_WSDL=http://localhost:7001/xmlpserver/services/v2/ReportService?wsdl
OBI_USERNAME=ebi2026
OBI_PASSWORD=change_moi
OBI_TIMEOUT=30

APP_ENV=development
APP_NAME="Portail OBI"
